<div class="container main">
  <div class="row">
    <div class="col-md-12">
      <h1>Parkings for sale</h1>
    </div>
  </div>

<% @listings.each do |listing| %>
  <div class="row">
    <div class="col-md-4">
        <div class="parking text-center">
          <%= image_tag listing.avatar.url,:class => "img-responsive" %>
          <div class="inner">
            <h4><%= listing.title %> (<%= listing.location.name %>)</h4>
            <p>Price <%= number_to_currency(listing.price ,unit: "£",:precision => (listing.price.round == listing.price) ? 0 : 2) %></p>
            <p class="view">
              <%= link_to "View listing &raquo;".html_safe, listing_path(listing), :class => "btn btn-info", :role => "button" %>
           </p>
          </div>
        </div>
    </div>
  </div>
<% end %>
</div>


