.container.main
  .row
    .col-md-12
      %h1= @listing.title 

  .row
    .col-md-6
      = image_tag @listing.avatar.url , :class => "img-responsive show-parking shadow" 

    .col-md-6
      %p
        %b Area: #{@listing.location.name}
      %p
        %b Sold by: #{@listing.seller.first_name} #{@listing.seller.last_name}
      %p
        %b Address: #{@listing.address} 
      %p
        %b Postcode: #{@listing.postcode} 
      %p
        %b Description: #{@listing.description} 
      %p
        %b Price: #{number_to_currency(@listing.price ,unit: "£",:precision => (@listing.price.round == @listing.price) ? 0 : 2)}
      %p= link_to "Buy Now", new_listing_order_path(@listing), :class => "btn btn-success", :type => "button"
  



