<!DOCTYPE html>
<html>
<head>
  <title>Finalproject</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Parking Finder</a>
    </div>
    <% if user_signed_in? %>
 
        <%= button_to 'Logout', destroy_user_session_path, :method => :delete, :type => "button", :class => "btn btn-default navbar-btn btn-success navbar-right"  %>   

        <p class="navbar-text navbar-right sign-in">Signed in as <%= "#{current_user.first_name} #{current_user.last_name}" %></p>  
    <% else %>
    
           <%= render "layouts/sign_in" %>
   
    <% end %>
 
  </div>
</div>

<%= yield %>



<div class="container text-left">
  <footer>
    <p>&copy; We Got Coders 2014</p>
  </footer>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</body>
</html>

